[user]
        name  = Jeremie Chauvel
        email = Jeremie-Chauvel@users.noreply.github.com
[core]
        editor = vim
        excludesfile = ~/.gitexcludes
[color]
        branch      = auto
        diff        = auto
        interactive = auto
        status      = auto
        ui          = auto
[push]
        default = current
[alias]
        clo = clone
        co  = checkout
        st  = status
        pur = pull --rebase
        ci  = commit
        cm = commit -m
        ca = commit --amend
        rc  = rebase --continue
        lg  = log -M --decorate --graph --oneline
        br  = branch
        sth = stash
